	<div class="row">

		<div class="col-sm-12 col-md-4">

		</div>

		<div class="col-sm-12 col-md-4 jumbotron">

			<h2 class="text-center">Esqueceu sua senha?</h2>

			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  		<%= f.error_notification %>

	  		<div class="row">  

	  			<div class="col-md-12">
	  				<div class="form-group">
				    	<%= f.input :email, required: true, autofocus: true, size: 25, input_html: { class: 'form-control', placeholder: 'Email para renovar senha'}  %>
				  	</div>
	  			</div>

	  		</div>

	  		<div class="row">

	  			<div class="col-md-12">

	  				<div class="form-group">
					    <%= f.button :submit, "Enviar email para renovar senha", input_html: { class: 'btn btn-default' } %>
					</div>

	  			</div>
	  		</div>
	  		

			

			<% end %>

			
			<div class="btn-group" role="group" aria-label="...">
				<%= render "devise/shared/links" %>
			</div>

		</div>

		<div class="col-sm-12 col-md-3">

		</div>


	</div>




  

